//// Vendors
//@import 'vendors/skeleton';
//
//// Abstracts
//@import 'abstracts/aspectRatio';
//@import 'abstracts/depth';
//@import 'abstracts/functions';
//@import 'abstracts/mediaMixins';
//@import 'abstracts/slide';
//@import 'abstracts/variables';
//@import 'abstracts/zIndex';
//
//// Base
//@import 'base/reset';
//@import 'base/colors';
//@import 'base/base';
//@import 'base/typography';
//
//// Components
//@import 'components/dialogBox';
//@import 'components/page';
//
//// Layout
//@import 'layout/footer';
//@import 'layout/topNav';
//
//// Pages
//@import 'pages/home';
//
//// Themes
//@import 'themes/default';
//@import 'bootstrap/dist/css/bootstrap.css';

//@import '../../../node_modules/material-design-icons/

//@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../../node_modules/surveyjs-editor/surveyeditor.css';

html {

  font-size: inherit !important;
}

body {
  //background-color: #f6f6f6 !important;

}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.app-contnet {

  padding-top: 60px;
}

.App {
  margin-top:20px ;
  padding-left: 24px;
  padding-right: 24px;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../material-icons/MaterialIcons-Regular.woff2) format('woff2'),
  url(../material-icons/MaterialIcons-Regular.woff) format('woff'),
  url(../material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.modal {
  padding-top: 100px;
}

//.status-bar {
//  position: absolute;
//  background-color: red;
//  width: 100%;
//  height: 5px;
//}

.cards-list {

}

.sv_main .sv_container {
  max-width: 100%;
  margin: auto;
  position: relative;
  padding: 0;
}

.sv_main .sv_container .sv_header {
  padding: 0;
}
//
//html, body, #root, .wrapper, .app-contnet, #storeInjector, #actionsProvider, .sv_main, .sv_container, .sv_body {
//  height: 100%;
//  background-color: #fff;
//
//}
//
//.sv_p_root {
//  min-height: 90%;
//}
//
//.sv_main {
//  padding-bottom: 10px;
//}
//.sv_body {
//  //padding-bottom: 30px!important;
//  //padding-top: 0!important;
//  //position: relative;
//  padding:0!important;
//}
//
//.sv_nav {
//  //position: absolute;
//  //right: 10px;
//  //bottom: 0;
//  padding: 0 20px!important;
//}
