$purple:            rgba(83, 42, 68, 1);
$light-blue:        rgba(121, 189, 233, 1);
$orange:            rgba(242, 141, 48, 1);
$lightest-grey:     rgba(248, 248, 248, 1);
$dark-grey:         rgba(51, 51, 51, 1);
